<app-weather-search></app-weather-search>
<app-weather-list></app-weather-list>
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Weather</title>
</head>
<body>
  <app-nav-bar></app-nav-bar>
  <app-weather-display></app-weather-display>
  <app-weather-search></app-weather-search>
  <app-weather-list></app-weather-list>

<script src="/__/firebase/6.2.4/firebase-app.js"></script>

->
<script src="/__/firebase/init.js"></script>
</body>
</html>
<router-outlet></router-outlet>
